<h1>Todos</h1>
<table class="table table-hover" id="listTodos">
  <tbody>
  <% @todos.each do |todo| %>
    <tr>
      <td scope="row">
          <%= link_to todo_path(todo),
                      method: :delete do %>
          <button type="button" class="btn btn-link"><i class="fas fa-window-close"></i></button>
          <% end %>
      </td>
      <td class="showTodo" onclick="location.href='<%= todo_path(todo) %>'"><%= todo.title %></td>
      <td>
        <button class="btn btn-outline-dark btn-sm" id="editButton" onclick="location.href='<%= edit_todo_path(todo) %>'">Edit</button>
      </td>
    </tr>
  <% end %>
  <tr class="addTodo">
    <td colspan="3" onclick="location.href=' <%= new_todo_path %> '"><i class="fas fa-plus-circle" id="addIcon"></i>New
      todo
    </td>
  </tr>
  </tbody>
</table>
