<!DOCTYPE html>
<html>
<head>
  <title>Todo-App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">Todo</a>
  <form class="form-inline">
    <div class="navbar-text"><i class="far fa-user"></i>Profile name</div>
  </form>
</nav>
<div class="container">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :separator => " / " %>
  </ol>
  <%= yield %>
</div>
</body>
</html>
